<a href="/"><img src="images/top.png" style="width:100px" id="home"></a>
<h2>
  <%= title %>
</h2>
<!-- 하기 list 선택시 하위에 포함된 todolist 목록 읽어오기 -->
<!-- 은정 21.10.15 -->
<form class="selector" onsubmit="return todoListAdd(this)">
  <section class="category">
    <a href="/daily">DAY</a>
    <a href="/weekly">WEEK</a>
    <a href="/monthly">MONTH</a>
    <a href="/yearly">YEAR</a>
    <a href="/bucketlist">BUCKET LIST</a>
  </section>

  <!-- create 시에 mode / specfic list 값을 lists 의 form 으로 함께 전송 -->
    <div class="chart">
      <input type="input" class="Title" placeholder="Add your plan.." name="title" id='title' required />
      <label for="title" class="title__label"></label>
  
      <button type="submit" id="add">add</button>
    </div>
    
    <div class="btn">
      <ul>
      <li>
    <input type="radio" name="type" class="choice" value="daily" id="choice-1">
    <label for="choice-1">D</label>
    <div class="check"></div>
      </li>
     <li>
    <input type="radio" name="type" class="choice" value="weekly" id="choice-2">
    <label for="choice-2">W</label>
    <div class="check"><div class="inside"></div></div>
     </li>
     <li>
       <input type="radio" name="type" class="choice" value="monthly" id="choice-3">
    <label for="choice-3">M</label>
    <div class="check"><div class="inside"></div></div>
    </li>
     <li>
       <input type="radio" name="type" class="choice" value="yearly" id="choice-4">
      <label for="choice-4">Y</label>
      <div class="check"><div class="inside"></div></div>
    </li>
     <li>
       <input type="radio" name="type" class="choice" value="bucketlist" id="choice-5">
    <label for="choice-5">Bucket</label>
    <div class="check"><div class="inside"></div></div>
  </li>
</ul>
  </div>
</form>

<script>
  function todoListAdd(form) {
    
    const radioChecked = document.querySelector('input[type="radio"]:checked')

    if(!radioChecked) {
      alert("mode를 입력해주세요!!!!!")
      return false;
    }

    const type = radioChecked.value
    const title = document.querySelector('#title').value

    if(!type || !title) return false

    const url = `/${type}`

    form.action = url
    form.method = 'POST'

  }
</script>